* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  padding-bottom: 0;
  background-image: url(./assets/backg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-wrapper {
  position: relative;
  margin: 25px 50px;
}

.form-shape {
  background-color: #d4d4d2;
  width: 50%;
  height: 60px;
  transform: skewX(-45deg);
  border: 1px solid #fff;
  opacity: 0.8;
}

.form-input {
  position: absolute;
  top: 10%;
  left: 31px;
  border: none;
  height: 80%;
  width: 23%;
  border: none;
  background-color: #d4d4d2;
  background: transparent;
}

.button-shape {
  position: absolute;
  width: 20%;
  height: 96%;
  top: 1%;
  left: 30%;
  background-color: #fe0000;
  border: 2px solid #fff;
  transform: skewX(-45deg);
  cursor: pointer;
}

.submit-btn {
  position: absolute;
  width: 14%;
  height: 86%;
  border: none;
  top: 6%;
  left: 33%;
  font-size: larger;
  color: #fcfbf3;
  cursor: pointer;
  background: transparent;
}

.display {
  margin-top: -210px;
}

.popup-wrapper {
  position: fixed;
  top: 1%;
  left: 50%;
  margin-left: -200px;
  z-index: 100;
  transition-duration: 0.4s;

  .popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 200px;
    background-color: #f3f3f3;
    border-radius: 5%;
  }

  #close {
    align-self: end;
    margin-top: 10px;
    margin-right: 20px;
    color: #635f5f;
    font-size: 30px;
    cursor: pointer;
  }

  .message {
    align-self: center;
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 600px) {
  .form-wrapper {
    position: relative;
    margin: 25px 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .form-shape {
    width: 150px;
    transform: skewX(0);
    border: 3px solid #fff;
  }

  .button-shape {
    width: 140px;
    height: 93%;
    transform: skewX(0);
    left: 36%;
    border: 2px solid #fff;
    display: none;
  }

  .submit-btn {
    position: initial;
    width: 140px;
    height: 60px;
    background-color: #fe0000;
    border: 1px solid #fff;
  }
}
